*{
font-family: 'Outfit', sans-serif;
font-family: 'Roboto', sans-serif;
padding: 0;
margin: 0;
box-sizing: border-box;
}

#first-block{
    width: 100%;
    height: 900px;
    background-image: url(img/bg-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

body{
    background-color: gray;
}

#header{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 20px;
}

#logo{
    height: 40px;
    text-align: center;
}

#logo h1{
    font-size: 36px;
    font-weight: 500;
    color: white;
}

#nav{
    margin-top: 16px;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

#nav a{
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 18px;
    font-weight: 400;
}

#login{
    height: 40px;
}

.btn-login{
    background-color: white;
    color: #1d54a4;
    padding: 12px;
    width: 100px;
    text-align: center;
    border-radius: 10px;
    margin: 0 auto;
}

.btn-login h3{
    font-size: 18px;
    font-weight: 500;
}

#soc-ico{
    margin: 0 auto;
    width: 356px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 300px;
}

#text-block-1{
    text-align: center;
    color: white;
}

#text-block-1 h1{
    font-size: 72px;
    font-weight: 400;
}

#search-block{
    margin-left: 139px;
    margin-top: 180px;
}

#search-header{
    background-color: white;
    width: 300px;
    height: 76px;
    padding: 15px;
    display: flex;
    border-radius: 20px 20px 0 0;
}

#search-body{
    width: 1600px;
    height: 200px;
    background-color: white;
}

.header-el{
    max-width: 147px;
    padding: 12px;
    background-color: white;
    margin-right: 15px;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    color: #2e3a59;
}

.header-el h6{
    font-size: 17px;
    font-weight: 500;
}

.header-el img{
    width: 24px;
    height: 24px;
}

.header-active{
    background-color: #1d54a4;
    color: white;
}